.search-block {
  display: block;
  background: $white;
  padding: $spacing * 4;
  margin-bottom: $spacing * 4;
  height:100%;

  input#search_field {
    border: 2px solid $base;
    height: 45px;
  }
  input[type="checkbox"] {
    border: 2px solid $base;
  }
  button#search_button {
    background: $base;
    border-color: $base;
    height: 45px;
    &:focus,
    &:active {
      outline: none;
    }
    span {
      width: $spacing * 4;
      height: $spacing * 4;
    }
  }
}

